<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Lab 1 Welcome Experiment</Title>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[while (true)
            {
                Welcome();
            }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>